#signup {
    border:1px solid lightgray;
    margin: auto;
    width:30%;
    padding:20px;
    background-color: honeydew;
}
#signup input {
    margin-top: 20px;
    border:none;
    border-bottom: 1px solid grey;
    padding:10px;
    width:80%;
}